# Root .gitignore
node_modules
dist
dist-ssr
*.local
*.log
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
__pycache__/
*.pyc
*.trn
*.msh
*.db
*.bdf
*.cdb
*.cgns
*.inp
ansys_fluent_scratch/
*.py[cod]
.pytest_cache/

